:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    background-image: linear-gradient(#414141, #000000, to bottom right);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .screen {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  canvas {
    position: absolute;
    display: flex;
  }

  p {
    position: relative;
  }


  /* Buttons */

body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #linkedin-link {
    bottom: 110px;
  }
  
  #linkedin-link > i {
    color: rgb(0, 114, 177);
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: #166D3B;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    transition: color 400ms;
  }
  